<div class="container mt-5">
    <h1 class="text-center mb-4">Liste des auteurs</h1>
    <a routerLink="/author/new" class="btn btn-primary my-3">
        Ajouter un auteur
    </a>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col" *ngFor="let author of authors">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title h5">{{ author.name }}</h2>
                    <p class="card-text"><strong>Nationalité :</strong> {{ author.nationality }}</p>
                    <a [routerLink]="['/author', author.id]" class="btn btn-primary mt-3">
                        Voir le détail
                    </a>
                </div>
            </div>
        </div>
    </div>

    <app-pagination [pagination]="pagination" (pageChanged)="loadAuthors($event)" class="mt-4"></app-pagination>
</div>