<div class="container text-center my-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="display-4 fw-bold text-primary">Bienvenue sur Biblios</h1>
        <p class="lead mt-4">
          Biblios est votre bibliothèque numérique où vous pouvez explorer une vaste collection de livres disponibles dans notre bibliothèque.
          Découvrez vos prochains coups de cœur littéraires, des classiques aux dernières nouveautés !
        </p>
        <p>
          Que vous soyez un passionné de lecture ou simplement curieux, Biblios vous permet de :
        </p>
        <ul class="list-unstyled text-start mx-auto" style="max-width: 400px;">
          <li><i class="bi bi-book-fill text-success"></i> Rechercher des livres par titre, auteur ou catégorie.</li>
          <li><i class="bi bi-calendar2-check text-success"></i> Vérifier la disponibilité en temps réel.</li>
          <li><i class="bi bi-people-fill text-success"></i> Réserver vos livres favoris pour les emprunter facilement.</li>
        </ul>
        <button class="btn btn-primary btn-lg mt-3">Explorer le Catalogue</button>
      </div>
      <div class="col-md-6">
        <img
          src="https://media.istockphoto.com/id/854608904/fr/vectoriel/biblioth%C3%A8que.jpg?s=612x612&w=0&k=20&c=4dG7JxBdMK50aghjBtdvfN8VegVXGiHxpBG_vqOCPwI="
          alt=""
          class="img-fluid rounded shadow"
        />
      </div>
    </div>
  </div>
  