<div class="container mt-5">
    <h1 class="text-center mb-4">Liste des éditeurs</h1>
    <a routerLink="/editor/new" class="btn btn-primary my-3">
        Ajouter un éditeur
    </a>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col" *ngFor="let editor of editors">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title h5">{{ editor.name }}</h2>
                    <div class="mt-3">
                        <a class="btn btn-primary me-2" [routerLink]="['/editor/edit', editor.id]">
                            Éditer
                        </a>
                        <button class="btn btn-danger" (click)="deleteEditor(editor)">
                            Supprimer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-pagination [pagination]="pagination" (pageChanged)="loadEditors($event)" class="mt-4"></app-pagination>
</div>